.container {
  width: 45%;
  margin-right: 5%;

  @media all and (max-width: 960px) {
    width: 90%;
    margin: 0 auto;
  }
}

.tableTabsBlock{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #9c9c9c;
}

.tableList {
  margin: 0;
  padding: 0;
}
