.item {
  &Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 500px;
    padding: 10px;
    border-bottom: 1px solid black;
  }

  &ContentBlock {
    display: flex;
    align-items: center;
  }

  &Title {
    margin: 0;
    font-size: xx-large;
    font-weight: 600;
  }

  &Subtitle {
    margin: 0;
    font-size: large;
    font-weight: 400;
    margin-left: 120px;
  }

  &Image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}
